.root {
  background-color: #FFF1;
}

.root:hover {
  background-color: #FFFFFF88;
}

.ign {
  min-width: 6em !important;
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    0 1px 0 #000,
    1px 1px 0 #000;
}

.root .a {
  height: auto;
}