.input {
	width: calc(1em + 2ch);
	appearance: textfield; /* Firefox */
}

.input[type=number]::-webkit-inner-spin-button,
.input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none; /* Opera? Why? */
	appearance: none; /* Chrome */
	margin: 0;
}