.cell {
  display: inline-block;
  position: relative;
  background-color: #FFFFFF18;
}

.cell img {
  display: block;
}

.cell p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #00000099;
  width: 100%;
  text-align: center !important;
  font-size: 120%;
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    0 1px 0 #000,
    1px 1px 0 #000;
}