:global(.row).class-select > :global(.col) {
  width: initial;
  flex: initial;
}

.class-select img:not(.selected) {
  filter: grayscale(0.8);
}

.wep :global(.input-group) :global(.form-control) {
  /* padding: inherit; */
  flex: 0 1 calc(1.8em + 2ch);
  appearance: textfield;
  text-align: center;
}

.wep :global(.input-group) :global(.form-control)::-webkit-inner-spin-button,
.wep :global(.input-group) :global(.form-control)::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Opera? Why? */
  appearance: none; /* Chrome */
  margin: 0;
}