.tab-pane.active > p:first-child {
	margin-top: 1rem;
}

[class^=card-img] {
	width: fit-content !important;
	align-self: center;
	margin-top: 1rem;
}

.progress {
	display: inline-flex;
	height: 24px !important;
}

.progress-bar {
	overflow: visible !important;
}

.modal .row > .btn-group,
.modal .row .btn-sm {
	padding: 0;
}